/* #4F5439 #EBEEDF #C6D490 #4A5420 #96A16D */

body{
    background: black;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 24px;
    font-weight: 700;
    font-family: "Monserat", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: black;
}
a{
    text-decoration: none;
}
.button{
    display: inline-block;
    margin-right: 16px;
    padding: 10px 30px;
    font:inherit;
    text-align: center;
    color: white;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: black;
    border: none;
}
.button.disabled,
.button:disabled{
    cursor: default;
    opacity: 0.5;
    background-color: black;
}
.button:hover,
.button:focus,
.button:active{
    background-color: saddlebrown ;
    color: white;
}
.main-navigation{
    font-size: 16px;
    line-height: 20px;
    color: white;
    background-color: black;
}
.site-navigation,
.user-navigation{
    list-style: none;
}
.site-navigation{
    display: flex;
    flex-wrap: wrap;
    width: 620px;
}
.user-navigation{
    display: flex;
    max-width: 140px;
}
.site-navigation a,
.user-navigation a{
    display: block;
    padding: 25px 20px;
    vertical-align: middle;
color: white;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus{
    background-color: black;
    color: white;
}

.features-list{
    list-style: none;
}

.feature-item h3{
    text-align: center;
}

.feature-item h3{
    position: relative;
    margin: 0;
    margin-bottom: 60px;
    font-size: 30px;
    line-height: 42px;
    color: white;
}
.feature-item h3::after{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    background-color: white;
    transform: rotate(45deg);
}
.feature-item p{
    margin: 0 10px;
    color: white;
}
.index-columns{
    color: white;
    background-color: white;
}

.index-columns h2 {
    background-color: black;
    color: white;
    font-size: 30px;
    line-height: 42px;
}
.news-list{
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    list-style: none;
}

.news-item {
    margin-bottom: 25px;
}
.news-item p{
    margin: 0;
    color: black;
}
.news-item time{
    text-transform: none;
}
.gallery-container{
    position: relative;
    height: 260px;
}
.gallery-content{
    width: 286px;
    height: 164px;
    margin: 0;
    background-color: white;
    border: 7px solid black;
}
.gallery-button{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 140px;
    margin: 0;
}
.gallery-button-back{
    left: 0;
}
.gallery-button-next{
    right: 0;
}


.appointment input{
    font: inherit;

    background-color: white;
    border: 2px solid black;
}

.appointment-item input:focus{
    border-color: black;
}

.main-footer{
    color: white;
    background-color: black;
}

.footer-contacts a{
    color: white;
    text-decoration: underline;
}
.footer-contacts a:hover,
.footer-contacts a:focus{
    text-decoration: none;
}

.footer-social{
    text-align: center;
}
.footer-social ul {
    list-style: none;
}
.social-button{
    color: white;
}
.footer-copyright{
    text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus{
    color: black;
    background-color: white;
}

.modal{
    color: white;
    background-color: black;
}
.modal h2{
    font-size: 30px;
    line-height: 42px;
}
.login-form input[type="text"],
.login-form input[type="password"]{
    font: inherit;
    color: black;
    text-transform: uppercase;
    background-color: white;
    border: 2px solid white;
}
.login-form input:focus{
    border-color: #a75358;
}
.inner-page{
    color: white;
    background-color: white;
}
.page-title {
    font-size: 30px;
    line-height: 42px;
}
.breadcrumbs{
    list-style: none;
}
.breadcrumbs a{
    color: black;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    text-decoration: underline;
}

.breadcrumbs-current{
    color: black;
    font-weight: 800;
}
.filter fieldset{
    border: none;
}
.filter legend{
    font-size: 22px;
    line-height: 30px;
    color: black;
}
.filter ul{
    list-style: none;
    line-height: 18px;
}
.filter-input:hover + label,
.filter-input:focus +label {
    color: white;
    background-color: black;
}

.filter-input:disabled + label{
    color: black;
    opacity: 0.5;
}
.catalog-list{
    list-style: none;
}
.catalog-item{
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.catalog-item:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.catalog-item a{
    display: flex;
    flex-direction: column;
    color: black;

}
.catalog-item h3{
    order: 1;
    font-size: 14px;
    line-height: 18px;
}
.catalog-category{
    display: block;
    text-transform: none;
}
.catalog-item-image{
    width: 220px;
    height: 165px;
    margin: 0;
}
.catalog-item-price{
    display: flex;
    margin: 15px;
    margin-top: 0;
}
.catalog-item-price b{
    width: 112px;
    padding: 13px 25px 11px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    background-color: black;
}
.catalog-item-price .button{
    width: 50px;
    padding: 13px 18px 11px;
    margin-right: 0;
    line-height: 20px;
    color: white;
}
.catalog-item-price .button:hover{
    color: black;
}
.pagination-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
.pagination-item{
    margin-right: 5px;
}
.pagination-item:last-child{
    margin-right: 0;
}
.pagination-item a{
    display: block;
    padding: 10px 19px;
    color: white;
    background-color: black;
}
.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active{
    background-color: black;
    color: #eeeeee;
}
.pagination-item-current a{
    color: black;
    background-color: white;
    border: 2px solid black;
}
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active{
    color: white;
    background-color: black;
}

.product-photo-preview{
    list-style: none;
}
.product-photo-preview li,
.product-photo-full{
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
}
.product-article{
    text-align: right;
}
.product-price b{
    line-height: 20px;
    text-align: center;
    background-color: black;
    color: black;
}
.product-info h3{
    font-size: 24px;
    line-height: 30px;
}
.product-info ul{
    list-style: none;
}

/* Сеточные стили */
.main-header-logo{
    order: 2;
    width: 368px;
    height: 250px;
    /*display: block;*/
}

.site-navigation{
    margin:0;
    padding: 0;
    list-style: none;
    min-height: 70px;
}
.user-navigation{
    margin:0;
    padding: 0;
    display: flex;
    list-style: none;
    min-height: 70px;
}
.main-navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.site-navigation a,
.user-navigation a{

    color: white;
}
.main-navigation-wrapper{
    width: 100%;
    margin-bottom: 60px;
    min-height: 70px;
    background-color: white;
    background-color: transparent;
}
.container{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.main-navigation-wrapper .container{
    display: flex;
    justify-content: space-between;
}
.features-list{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    min-height: 170px;
}
.feature-item{
    width: 300px;

    min-height: 170px;
}
.features{
    margin-bottom: 80px;
}
.index-columns{
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    margin-bottom: 35px;
    color: black;
}
.news{
    width: 380px;

    min-height: 315px;
}
.gallery{
    width: 300px;
    min-height: 315px;
}
.contacts{
    width: 380px;
    min-height: 295px;
}
.contacts p{
    margin: 0;
    margin-bottom: 25px;
}
.contacts .button{
    margin: 0;
}
.appointment{
    width: 300px;
    min-height: 340px;
}
.appointment-info{
    margin: 0;
    margin-bottom: 15px;
}
.appointment-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.appointment-item{
    width: 140px;
    margin: 0;
    margin-right: 5px;
    margin-bottom: 10px;
}
.appointment-item input{
    box-sizing: border-box;
    width: 140px;
    padding:8px 15px 7px 15px;
}
.appointment-item label{
    display: block;
    margin-bottom:  9px;
    margin-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
}
.appointment .button{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-right: 0;
}
.main-footer{
    padding: 60px 0;
    margin-top: 65px;
    min-height: 180px;
}
.main-footer .container{
    display: flex;
}
.footer-contacts{
    width: 320px;
    margin: 0;
    min-height: 100px;
    margin-right: 80px;
}
.footer-social{
    width: 145px;
    min-height: 100px;
}
.footer-copyright{
    width: 150px;
    margin: 0;
    margin-left: auto;
    min-height: 100px;
}
.footer-copyright b{
    display: block;
    margin-bottom: 15px;
}

/*Каталог*/
.inner-page .main-header{
    margin-bottom: 50px;
    background-color: white;
    min-height: 70px;
}
.inner-page .main-navigation{
    align-items: flex-start;
    flex-direction: row;
    min-height: 70px;
}
.inner-page .user-navigation{
    margin-left: auto;
}
.inner-page .main-header-logo{
    order: 0;
    width: 111px;
    height: 24px;
    padding: 23px 20px;
}
.page-title{
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    color: black;
    min-height: 42px;
}
.breadcrumbs{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;

    min-height: 24px;
}
.breadcrumbs li{
    position: relative;
    margin-right: 42px;
}
.breadcrumbs li::after{
    content: "";

    position: absolute;
    top: 7px;
    right: -25px;
    width: 8px;
    height: 8px;
    background-color: black;

    transform: rotate(45deg);
}
.breadcrumbs li:last-child{
    margin-right: 0;
}
.breadcrumbs-current::after{
    display: none;
}
.filters{
    width: 180px;
    min-height: 687px;
}
.filter fieldset{
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    border: none;
}
.filter fieldset:first-child{
    margin-bottom: 35px;
}
.filter legend{
    margin-bottom: 26px;
    font-size: 24px;
    line-height: 30px;
}
.filter ul{
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 18px;
}
.catalog{
    width: 700px;
}
.catalog-item a{
    color: black;
}

.filter-option{
    margin-bottom: 19px;
    margin-left: 45px;
}
.filter-option label{
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    color: black;
}
.filter-input-checkbox + label::before{
    content: "";
    position: absolute;

    left: -42px;
    top: 0;
    width: 16px;
    height: 16px;

    border: 2px solid black;
}
.filter-input-checkbox:checked + label:after{
    content: "";
    position: absolute;
    top: 4px;
    left: -38px;
    width: 12px;
    height: 12px;
    background-color: black;
}
.filter-input-radio + label::before{
    content: "" ;
    position: absolute;
    left: -42px;
    top: -1px;
    width: 16px;
    height: 16px;
    border: 2px solid black;
    border-radius: 50%;
}
.filter-input-radio + label::after{
    content: "";
    position: absolute;
    top: 5px;
    left: -36px;
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
}

/*Карточка товара*/
.inner-page{

}
.product-photo-preview{
    display: flex;
    padding: 0;
    margin: 0;
}
.product-photo-preview li{
    width: 140px;
    height: 149px;
    margin-left: 20px;
}
.product-photo-preview li:nth-child(3n){
    margin-right: 0;
}
.product-photo-full{
    width: 460px;
    height: 498px;
    margin: 0;
    margin-bottom: 20px;
}
.product-
.product-photos{
    width: 400px;
    min-height: 677px;
}

.product-info{
    width: 390px;
    padding-top: 23px;
}
.product-info p{
    margin:  0;
}
.product-info .product-price{
    display: flex;
    margin-bottom: 63px;
}
.product-price b{
    width: 112px;
    padding: 13px 36px 11px 36px;
    line-height:  20px;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
}
.product-price .button{
    padding-left: 17px;
    padding-right: 17px;
}
.product-info .product-text{
    margin-bottom: 35px;
}
.product-info h3 {
    margin: 0;
    margin-bottom: 27px;
}
.product-info ul{
    margin: 0;
    padding: 0;
}
.product-info li{
    position: relative;
    padding-left: 23px;
}
.product-info li::before{
    content: "";
    position: absolute;
    top: 7px;
    left: 2px;
    width: 8px;
    height: 8px;
    background-color: black;
    transform: rotate(45deg);
}
.catalog-columns{
    display: flex;
    justify-content: space-between;
}
.catalog-item{
    width: 220px;
    margin-bottom:20px;
    margin-right: 20px;
    min-height: 285px;
}

.catalog-item:nth-child(3n){
    margin-right: 0;
}
.catalog-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    list-style: none;
}
.pagination-list{
    padding: 0;
    margin: 0;
    list-style: none;
    min-height: 47px;
}
.inner-page .main-footer{
    margin-top: 45px;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.modal{
    position: fixed;
    color: black ;
    background-color: #f8f3f0;
    box-shadow:  0 30px 50px rgba(0, 0, 0, 0.7);
}
.modal-login{
    top: 120px;
    left: 50%;

    width: 300px;
    margin-left: -230px;
    padding: 50px 80px;
}
.modal-close{
    position: absolute;
    top: 0;
    right: -34px;
    width: 22px;
    height: 22px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.modal-close::before,
.modal-close::after{
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    width: 19px;
    height: 3px;
    background-color: #d0d0d0;
}
.modal-close::before{
    transform: rotate(45deg);
}
.modal-close::after{
    transform: rotate(-45deg);
}
.modal-login h2{
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
}
.modal-description{
    margin: 0;
    margin-bottom: 10px;
}
.login-form p{
    margin: 0;
    margin-bottom: 10px;
}
.login-form input[type="text"],
.login-form input[type="password"]{
    box-sizing: border-box;
    width: 300px;
    padding: 10px 15px;
    padding-right: 40px;
    font: inherit;
    color: black;
    text-transform: uppercase;
    background-color: #f9f6f3;
    border: 2px solid black;
}
.login-form .login-help{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0;
}
.login-checkbox{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
.login-checkbox:hover,
.login-checkbox:focus{
    color: #663d15;
}
.login-checkbox input[type="checkbox"] + .checkbox-indicator{
    position: absolute;
    top: 0;
    left:0;
    width: 17px;
    height: 17px;
    border: 2px solid black;
}
.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator{
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after{
    content: "";
    position: absolute;
    top: 8px;
    left: 1px;
    width: 15px;
    height: 2px;
    background-color: black;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before{
    transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    transform: rotate(-45deg);
}
.restore{
    color: black;
    text-decoration: underline;
}
